
@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@400;600&family=Lavishly+Yours&display=swap');


body {
    font-family: 'Afacad', sans-serif;
    background-color: #fdfaf6; 
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0 20%; 
}


header {
    background-color: #556b2f; 
    color: white;
    padding: 50px 0;
    text-align: center;
    margin: 0 -25% 30px -25%; 
}

h1 {
    font-family: 'Lavishly Yours', cursive;
    color: white;
    font-size: 5.5em;
    margin: 0;
}

h2 {
    font-family: 'Lavishly Yours', cursive;
    color: #8b4513;
    font-size: 3.5em; 
    text-align: center;
    margin-top: 40px;
}

h3 {
    font-family: 'Lavishly Yours', cursive;
    color: #556b2f;
    font-size: 2.8em; 
    border-bottom: 1px solid #eaddca;
}


nav {
    background-color: #8b4513;
    padding: 15px;
    text-align: center;
    margin: 0 -25% 30px -25%;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.9em;
}


.seccion-carta {
    margin-bottom: 50px;
}

.plato {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #ccc;
}

.nombre-plato {
    font-weight: 600;
    font-size: 1.2em;
}

.tag-alergeno {
    background-color: #eaddca;
    color: #8b4513;
    padding: 2px 10px;
    border-radius: 15px;
    font-size: 0.75em;
    margin-right: 5px;
    font-weight: 600;
}


.contenedor-fotos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

.contenedor-fotos img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


footer {
    text-align: center;
    padding: 40px;
    margin-top: 60px;
    border-top: 1px solid #ddd;
}



@media (max-width: 768px) {
    body {
        padding: 0 5%;
    }

    header, nav {
        margin-left: -6%;
        margin-right: -6%;
    }

    h1 { font-size: 3em; }
    h2 { font-size: 2.5em; }
    h3 { font-size: 2em; }

    .contenedor-fotos {
        grid-template-columns: 1fr; 
    }
}


